body {
    background: #008C64;
    font-family: 'Ultra', serif;


}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem
}

button {
    box-shadow: 13px 13px 13px black;
	background:#D8B784;
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-family:'Ultra', serif;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* game board table */

#board {
    border-collapse: collapse;
}

#board td {
    width: 60px;
    height: 60px;

    border: solid 10px #D8B784;
    padding: 10px #D8B784 solid;
    box-shadow: 13px 13px 13px black
}

p {

    font-size: 7em;
    text-shadow: 13px 13px 13px black;
    
    
}

#player-1 {
    margin-right: 20px;
    filter: invert(100%);
}

#player-2 {
    margin-left: 20px;
}

.glow {
    text-shadow: 5px 5px 10px gold, 0 0 50px gold, 0 0 10px gold;
}


/* pieces are div within game table cells: draw as colored circles */

.piece {
    /* TODO: make into circles */
    margin: 5px;
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

.p1 {
    left: 0;
    box-sizing: border-box;
    background-color: white;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #404040, inset -3px -3px 5px gray;
}

.p2 {
    box-sizing: border-box;
    left: 0;
    background-color: black;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #404040;
    background-image: -webkit-radial-gradient(40% 40%, circle closest-corner, #404040 0%, rgba(0, 0, 0, 0) 90%);
    background-image: -moz-radial-gradient(40% 40%, circle closest-side, #404040 0%, rgba(0, 0, 0, 0) 90%);
}

/* column-top is table row of clickable areas for each column */

#column-top td {
    border: solid 1px #D8B784;
    box-shadow: 0 0 13px #2f00ff;
}

#column-top td:hover {
    background-color: gold;

}

#column-top td:hover::after {
    padding-left: 25px;
    content: '\2193';
    font-size: 3em;
    font-weight: 900;
}

#win-overlay {
    display: none;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(22, 22, 29, 0.7);
    color: rgb(233, 233, 227);
    font-size: 9em
}